body{
	margin-top: 60px;
	text-align: center;
	height: 100%;
	width: 100%;
	/*font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;*/
}

#mymap{
	height:850px;
}

#toc {
	height: 550px;
	width: 220px;
	/*border-right: thin solid #000000;*/
	background-color: whitesmoke;
	padding-top: 30px;
	padding-left: 20px;
	position: absolute;
	top:110px;
	left:20px;
	z-index: 1000;
	opacity: .8;
}

.container{
	width: 100%;
}

#lyrs{
	text-align: left;
	padding-left: 5px;
}

.mybtn{
	position: absolute;
	z-index: 1000;
	top: 70px;
	left: 20px;
}

.infoimg{
	width:12px;
	height: 12px;
}

.tocimg{
	position: fixed;
	top:100px;
	left:33px;
	color: whitesmoke;
}

.navtext{
	color: white;
	font-size: 20px;
	padding-top: 10px;
}

.my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    }
.my-legend .legend-scale ul {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	float: left;
	list-style: none;
	}
.my-legend .legend-scale ul li {
	font-size: 80%;
	list-style: none;
	margin-left: 0;
	line-height: 18px;
	margin-bottom: 2px;
	}
.my-legend ul.legend-labels li span {
	display: block;
	float: left;
	height: 16px;
	width: 30px;
	margin-right: 5px;
	margin-left: 0;
	border: 1px solid #999;
	}
.my-legend .legend-source {
	font-size: 70%;
	color: #999;
	clear: both;
	}
.my-legend a {
	color: #777;
	}
